/* BackButton styles - Matches Figma node-id=94-17556 */

.backButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 6px;
  background-color: #F6F6F1;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 150ms ease;
  flex-shrink: 0;
}

.backButton:hover {
  background-color: #d8d8d8;
}

.backButton:focus-visible {
  outline: 2px solid rgba(0, 0, 0, 0.2);
  outline-offset: 2px;
}

.backButton:active {
  transform: scale(0.95);
}

.icon {
  width: 80%;
  height: 80%;
  color: rgba(0, 0, 0, 0.8);
}

.label {
  display: none;
}